/*----------- base --------------   LAYOUT   ---------------------------------*/

body{
    display : block;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
    h1 {
        font-family: Upheaval;
        font-weight:normal;
        font-style:normal;
        font-size: 5rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    p, a, h2, h3, li, input, label, button {
        font-family: PressStart2P;
        font-weight:normal;
        font-style:normal;
    }
    
    footer {
        margin-bottom: 2rem;
    }
}