/*#####################-----------   BASE   -----------#######################*/
/*----------- base --------------   RESET   ----------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*----------- base --------------   FONTS   ----------------------------------*/
@font-face {
  font-family: 'Upheaval';
  src: url("https://quentinbruyere.sites.3wa.io/Soutenance/Projet_Final/assets/fonts/Upheaval/UpheavalTT-BRK-.eot");
  src: url("https://quentinbruyere.sites.3wa.io/Soutenance/Projet_Final/assets/fonts/Upheaval/UpheavalTT-BRK-.eot?#iefix") format("embedded-opentype"), url("https://quentinbruyere.sites.3wa.io/Soutenance/Projet_Final/assets/fonts/Upheaval/UpheavalTT-BRK-.woff2") format("woff2"), url("https://quentinbruyere.sites.3wa.io/Soutenance/Projet_Final/assets/fonts/Upheaval/UpheavalTT-BRK-.woff") format("woff"), url("https://quentinbruyere.sites.3wa.io/Soutenance/Projet_Final/assets/fonts/Upheaval/UpheavalTT-BRK-.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'PressStart2P';
  src: url("https://quentinbruyere.sites.3wa.io/Soutenance/Projet_Final/assets/fonts/PressStart2P/PressStart2P.eot");
  src: url("https://quentinbruyere.sites.3wa.io/Soutenance/Projet_Final/assets/fonts/PressStart2P/PressStart2P.eot?#iefix") format("embedded-opentype"), url("https://quentinbruyere.sites.3wa.io/Soutenance/Projet_Final/assets/fonts/PressStart2P/PressStart2P.woff2") format("woff2"), url("https://quentinbruyere.sites.3wa.io/Soutenance/Projet_Final/assets/fonts/PressStart2P/PressStart2P.woff") format("woff"), url("https://quentinbruyere.sites.3wa.io/Soutenance/Projet_Final/assets/fonts/PressStart2P/PressStart2P.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
/*----------- base --------------   LAYOUT   ---------------------------------*/
body {
  display: block;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-size: 2rem; }
  body h1 {
    font-family: Upheaval;
    font-weight: normal;
    font-style: normal;
    font-size: 5rem; }
  body h2 {
    font-size: 2rem; }
  body p, body a, body h2, body h3, body li, body input, body label, body button {
    font-family: PressStart2P;
    font-weight: normal;
    font-style: normal; }
  body footer {
    margin-bottom: 2rem; }

/*#####################----------   MODULES   ---------#######################*/
/*----------- modules ----------   SIDEMENU   --------------------------------*/
.menu__sideModal {
  background-color: #333;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: -750px;
  top: 0;
  width: 750px;
  height: 100vh;
  padding: 300px 0;
  padding-bottom: 100px;
  font-size: 4rem;
  opacity: 0.5;
  z-index: 998;
  transition: all .75s ease-out 0s; }
  .menu__sideModal nav {
    text-align: center;
    position: relative; }
    .menu__sideModal nav ul li {
      list-style: none;
      margin-bottom: 2rem; }
      .menu__sideModal nav ul li:last-of-type {
        margin-bottom: 0; }
  .menu__sideModal a {
    text-decoration: none;
    color: white; }
    .menu__sideModal a:hover {
      color: red; }
  .menu__sideModal .menu__sideModal__account {
    font-size: 3rem; }
  .menu__sideModal .menu__sideModal__aboutUs {
    font-size: 1.5rem; }

.menu__sideModal--visible {
  left: 0;
  opacity: 0.95; }

/*----------- modules -----------   HEADER   ---------------------------------*/
header {
  background-color: #555;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 130px;
  position: sticky;
  top: 0px;
  z-index: 997; }
  header .menu__btn {
    display: flex;
    align-items: center;
    z-index: 999;
    width: 130px;
    height: 130px;
    padding: 35px;
    cursor: pointer; }
    header .menu__btn .menu__btn__bar {
      width: 100%;
      height: 5px;
      background-color: #fff;
      position: relative;
      transition: all .75s ease-out 0s; }
      header .menu__btn .menu__btn__bar::before {
        content: "";
        width: 100%;
        height: 5px;
        background-color: #fff;
        position: absolute;
        top: 20px; }
      header .menu__btn .menu__btn__bar::after {
        content: "";
        width: 100%;
        height: 5px;
        background-color: #fff;
        position: absolute;
        bottom: 20px; }
    header .menu__btn a {
      margin: 0 40px; }
      header .menu__btn a img {
        height: 50px; }
  header .menu__btn--animate {
    transform: rotate(-0.5turn); }
  header .menu__homeBtn img {
    height: 100%; }
  header .account {
    display: flex;
    align-items: center; }
    header .account a {
      margin: 0 32.5px; }
      header .account a img {
        height: 65px; }

/*----------- modules -----------   FOOTER   ---------------------------------*/
footer {
  text-align: center; }
  footer .footerMenu {
    display: flex;
    justify-content: center; }
    footer .footerMenu ul {
      display: flex;
      flex-flow: row wrap; }
      footer .footerMenu ul li:first-of-type {
        border-left: none; }
      footer .footerMenu ul li {
        font-size: 1.5rem;
        list-style: none;
        padding: 0 1rem;
        margin-bottom: 1rem;
        border-left: 5px solid #fff;
        text-align: left; }
        footer .footerMenu ul li a:hover {
          color: #999; }
  footer p {
    font-size: 1rem;
    color: #888; }
  footer a {
    color: #fff;
    text-decoration: none; }

/*#####################----------   LAYOUTS   ---------#######################*/
/*----------- layouts ------------   HOME   ----------------------------------*/
body {
  background-color: #222; }

.welcomeCard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  position: relative; }
  .welcomeCard .welcomeCard_background {
    width: 100%;
    height: 100%;
    background-image: url("../medias/imgs/homeScreenShot.png");
    background-position: center;
    background-size: cover;
    opacity: .3; }
  .welcomeCard .welcomeCard__text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center; }
    .welcomeCard .welcomeCard__text p {
      font-size: 1.75rem;
      margin-bottom: 20px; }
    .welcomeCard .welcomeCard__text h1 {
      font-size: 6.25rem;
      margin-bottom: 80px; }
    .welcomeCard .welcomeCard__text .welcomeCard__text__playBtn {
      display: flex;
      height: auto;
      margin: 0 auto;
      position: relative;
      cursor: pointer;
      text-transform: uppercase;
      border-style: solid;
      border-width: 20px;
      border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch; }
      .welcomeCard .welcomeCard__text .welcomeCard__text__playBtn:active {
        top: 2px; }
      .welcomeCard .welcomeCard__text .welcomeCard__text__playBtn a {
        color: #fff;
        font-size: 3rem;
        text-decoration: none;
        position: relative;
        margin: -20px -20px;
        padding: 40px 50px;
        background: linear-gradient(135deg, transparent 10px, #000000 0) top left, linear-gradient(225deg, transparent 10px, #000000 0) top right, linear-gradient(315deg, transparent 10px, #000000 0) bottom right, linear-gradient(45deg, transparent 10px, #000000 0) bottom left;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-image: radial-gradient(circle at 0 0, rgba(204, 0, 0, 0) 14px, #000000 15px), radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 14px, #000000 15px), radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 14px, #000000 15px), radial-gradient(circle at 0 100%, rgba(204, 0, 0, 0) 14px, #000000 15px); }
        .welcomeCard .welcomeCard__text .welcomeCard__text__playBtn a:hover {
          color: #999; }
        .welcomeCard .welcomeCard__text .welcomeCard__text__playBtn a:active {
          color: #555; }

.introduce {
  display: flex;
  flex-flow: column nowrap;
  margin: 50px 10px; }
  .introduce h2 {
    font-size: 2.5rem;
    margin: 0 5rem;
    line-height: 3rem;
    text-align: center; }
  .introduce__1 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 75px; }
    .introduce__1 img {
      width: 400px;
      height: 400px; }
  .introduce__2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 75px; }
    .introduce__2 img {
      width: 400px;
      height: 400px; }
  .introduce__3 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center; }
    .introduce__3__img {
      display: flex;
      flex-flow: column nowrap; }
      .introduce__3__img__victoryManSilhouette {
        width: 400px;
        height: 400px;
        color: #000; }
      .introduce__3__img__hill {
        width: 400px;
        height: 400px;
        color: red; }

/*----------- layouts -------   AUTHENTICATION   -----------------------------*/
.authentication {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 2rem 1rem; }
  .authentication h1 {
    font-size: 6rem; }
  .authentication h2 {
    font-size: 2.75rem;
    margin: 2rem 0; }
  .authentication button {
    font-size: 3rem;
    width: 100%;
    height: 100px; }
  .authentication form {
    display: flex;
    flex-flow: column nowrap; }
    .authentication form label {
      margin: 1rem 0;
      font-size: 1.5rem; }
    .authentication form input {
      margin-bottom: 1rem;
      width: 100%;
      height: 100px;
      font-size: 3rem; }
    .authentication form .signInButton, .authentication form .signUpButton {
      background-color: #333;
      margin: 1.5rem 0; }
  .authentication .signInForm__displayBtn, .authentication .signUpForm__displayBtn {
    transition: all .15s linear 0s;
    max-height: 100px;
    overflow: auto; }
  .authentication .signInFormCard, .authentication .signUpFormCard {
    width: 80%;
    text-align: left;
    margin: 50px 0; }
    .authentication .signInFormCard .authentication__form--hidden, .authentication .signUpFormCard .authentication__form--hidden {
      max-height: 0px;
      overflow: hidden; }
    .authentication .signInFormCard .authentication__form__displayBtn--hidden, .authentication .signUpFormCard .authentication__form__displayBtn--hidden {
      max-height: 0px;
      overflow: hidden;
      border: none; }
    .authentication .signInFormCard .red, .authentication .signUpFormCard .red {
      border: 4px solid red; }
  .authentication .signInCurtain {
    transition: all 0.9s cubic-bezier(0.6, 1.5, 0, 0.8) 0s;
    max-height: 500px;
    overflow: auto; }
  .authentication .signUpCurtain {
    transition: all 0.9s cubic-bezier(0.6, 1.5, 0, 0.8) 0s;
    max-height: 700px;
    overflow: auto; }

/*----------- layouts -----------   ABOUT   ----------------------------------*/
.about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 100px 50px; }
  .about article {
    margin: 50px 0; }
    .about article p {
      font-size: .85rem;
      margin-bottom: 30px; }
  .about h1 {
    font-size: 10rem;
    margin-bottom: 50px; }

/*----------- layouts -----------   CODEX   ----------------------------------*/
.codex {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 100px 50px; }
  .codex h1 {
    font-size: 10rem;
    margin-bottom: 100px; }
  .codex .weaponsList, .codex .itemsList {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 6rem; }
    .codex .weaponsList h2, .codex .itemsList h2 {
      font-size: 3.5rem;
      margin-bottom: 3rem; }
    .codex .weaponsList__item__1, .codex .itemsList__item__1 {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: 332px;
      margin: 1rem 0;
      border: 2px solid white;
      padding: 1rem; }
      .codex .weaponsList__item__1__img img, .codex .itemsList__item__1__img img {
        width: 300px;
        height: 300px; }
      .codex .weaponsList__item__1__text, .codex .itemsList__item__1__text {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        margin-left: 2rem; }
        .codex .weaponsList__item__1__text h3, .codex .itemsList__item__1__text h3 {
          font-size: 2.5rem;
          margin-bottom: 1rem; }
        .codex .weaponsList__item__1__text p, .codex .itemsList__item__1__text p {
          font-size: 1.5rem;
          overflow: auto; }

/*----------- layouts ----------   CONTACT   ---------------------------------*/
.contact {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 2rem 1rem; }
  .contact h1 {
    font-size: 6rem; }
  .contact .contactForm {
    display: flex;
    flex-flow: column nowrap;
    width: 90%; }
    .contact .contactForm label {
      margin: 1rem 0;
      font-size: 1.5rem; }
    .contact .contactForm input, .contact .contactForm textarea {
      margin-bottom: 1rem;
      width: 100%;
      height: 100px;
      font-size: 2rem; }
    .contact .contactForm textarea {
      height: 300px; }
    .contact .contactForm .signInButton, .contact .contactForm .signUpButton {
      background-color: #333;
      margin: 1.5rem 0; }

/*----------- layouts ----------   ACCOUNT   ---------------------------------*/
.account {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 2rem 1rem; }
  .account h1 {
    font-size: 6rem; }
  .account form {
    display: flex;
    flex-flow: column nowrap; }
    .account form label {
      margin: 1rem 0;
      font-size: 1.5rem; }
    .account form input {
      margin-bottom: 1rem;
      width: 100%;
      height: 100px;
      font-size: 3rem; }
    .account form .signInButton, .account form .signUpButton {
      background-color: #333;
      margin: 1.5rem 0; }
  .account button {
    height: 100px;
    width: 200px;
    font-size: 2rem; }
  .account a {
    margin: 3rem; }

/*# sourceMappingURL=style.css.map */
