/*----------- layouts ----------   THE-GAME   --------------------------------*/

.game {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 90%;
    margin: 2rem auto;
    
    .stageBackground {
        width: 100%;
    }
    
    .controls {
        width: 100%;
        
        .pad{
            width: 500px;
            height: 500px;
            border: 2px solid black;
            position: relative;
            
            .arrowUp, .arrowDown{
                width: 50%;
                height: 25%;
                border: 1px solid blue;
                position: absolute;
                left: 25%;
                background-color: #ddd;
            }
            
            .arrowDown{
                bottom: 0px;
            }
            
            .arrowLeft, .arrowRight{
                width: 25%;
                height: 50%;
                border: 1px solid blue;
                position: absolute;
                top: 25%;
                background-color: #ddd;
            }
            
            .arrowRight{
                right: 0px;
            }
        }
    }
    
    .saveButton {
        font-size: 2.5rem;
        padding: 1rem;
        margin: 4rem;
    }
}

@media (min-device-width: 700px) {
    .game {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 45%;
        margin: 1rem auto;
        
        .controls {
            .pad{
                width: 250px;
                height: 250px;
                border: 2px solid black;
            }
        }
        
        .saveButton {
            font-size: 1.75rem;
            padding: .5rem;
            margin: 2rem;
        }
    }
}